*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.row{
    margin-left: 0;
    margin-right: 0; 
}

/* NAVBAR */

.navbar{
    width: 100vw;
}

.navbar-toggler{
    color: white;
}

.navbar-toggler:focus{
    outline: 1px solid #fb9b1c;
}

.navbar-toggler:hover{
    color: #fb9b1c;
}

.navbgcss{
    background-color:#080808;
}

.fontcss{
    font-family: 'Kanit', sans-serif;
    color: white;
}

h1{
    margin-top: 8px;
    font-size: 50px;
}

li{
    margin-left: 50px;
    font-size: 20px;
}

a:hover{
    color: #fb9b1c;
}

@media (max-width: 991px){
    li{
        margin: auto;
        
    }
}

@media (max-width: 324px){
    button{
        margin-left: auto;
        margin-right: auto;
    }

    h1{
        margin-left: auto;
        margin-right: auto;
    }
}

@media (max-width: 576px){
    h1{
        font-size: 30px;
    }

    li{
        font-size: 15px;
    }
}

/* WELCOME SECTION */

.image{
    display: flex;
    justify-content: center;
    align-items: center;
}

.photo{
    width: 400px;
    height: 400px;
    border-radius: 50%;
}

@media (max-width: 992px){
    .reverse{
        display: flex;
        flex-direction: column-reverse;
    }

    .photo{
        margin-top: 80px;
    }
}

@media (max-width: 767px){
    .photo{
        margin-top: 20px;
        margin-bottom: 20px;
        width: 210px;
        height: 210px;
    }
}

.welcome-section{
    color: white;
    background-color: #080808;
    font-family: 'Poppins', sans-serif;
    height: 100vh;
    
}

.welcome-section h2{
    letter-spacing: -3px;
    padding-top: 100px;
    font-size: 50px;
}

.orange{
    color: #fb9b1c;
}

.welcome-section h1{
    letter-spacing: -3px;
}

.welcome-section p{
    font-size: 20px;
    width: 600px;
}

@media (max-width: 992px){
    .welcome-section h2{
        margin-top: -100px;
    }
}

@media (max-width: 767px){
    .welcome-section h2{
        letter-spacing: -1px;
        font-size: 25px;
    }

    .welcome-section h1{
        letter-spacing: -1px;
        font-size: 50px;
    }

    
    .welcome-section p{
        font-size: 10px;
        width: 300px;
    }
}

@media (max-width: 335px){
    .welcome-section h2{
        font-size: 15px;
    }

    .welcome-section h1{
        font-size: 35px;
    }

    
    .welcome-section p{
        font-size: 10px;
        width: 240px;
    }
}

/* PROJECTS SECTION */

.btnprojects{
    margin-top: 30px;
    width: 200px;
    height: 70px;
    font-size: 23px;
    color: white;
    background-color: #fb9b1c;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btnprojects:hover{
    color: black;
    text-decoration: none;
}

.btnprojects:focus{
    box-shadow: none;
}

@media (max-width: 767px){
    .btnprojects{
        width: 115px;
        height: 35px;
        font-size: 11.5px;
    }
}

.projects{
    background-color: #2e2e2e;
    padding-bottom: 100px;
}

.projects-header{
    font-family: 'Poppins', sans-serif;
    text-align: center;
    padding-top: 50px;
    color: white;
}

.projects-grid-end{
    margin-top: 50px;
    display: flex;
    justify-content: flex-end;
    padding-right: 33px;
}

.projects-grid-start{
    margin-top: 50px;
    display: flex;
    justify-content: flex-start;
    padding-left: 33px;
}

#projects img{
    width: 400px;
    height: 400px;
}

.projects p{
    background-color: #080808;
    height: 80px;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
}

#projects a{
    text-decoration: none;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
}

.code{
    color: #080808;
    margin-left: 5px;
    margin-right: 5px;
    transition: color 0.3s ease-out;
    font-size: 20px;
}

.project:hover .code{
    color: #fb9b1c;
}

@media (max-width: 992px){
    .projects-header{
        font-size: 30px;
    }

    .projects-grid-end{
        margin-top: 50px;
        display: flex;
        justify-content: center;
        padding-left: 0px;
        padding-right: 0px;
    }
    
    .projects-grid-start{
        margin-top: 50px;
        display: flex;
        justify-content: center;
        padding-left: 0px;
        padding-right: 0px;
    }

}

@media (max-width: 767px){
    #projects img{
        width: 275px;
        height: 275px;
    }

    .projects p{
        height: 80px;
        width: 275px;
        text-align: center;
    }

    .fontsizep{
        font-size: 18px;
    }
}

/* CONTACT SECTION */

.contact-section{
    background-color: #080808;
    height: calc(100vh - 100px);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-section-header h2{
    font-family: 'Poppins', sans-serif;
    font-size: 50px;
    text-align: center;
    padding-top: 150px;
    color: white;
}

.contact-section-header p{
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    text-align: center;
    color: white;
}

.line{
    background-color: #fb9b1c;
    width: 275px;
    height: 3px;
    margin-bottom: 100px;
}

.contact-links a{
    color: white;
    font-size: 30px;
    margin-left: 15px;
    margin-right: 15px;
}

.contact-links a:hover{
   color:#fb9b1c;
   text-decoration: none;
}

.contact-links a:focus{
   box-shadow: none;
}

.contact-details{
    transition: transform 1s ease-out;
}

.contact-details:hover{
    transform: scale(1.1);
}

/* BACK TOP BUTTON */

#back-top{
    position: fixed;
    right: 15px;
    bottom: 15px;
}

#back-top ul{
    list-style: none;
}

#back-top i{
    font-size: 50px;
    color: gray;
}

/* FOOTER */

footer{
    background-color: #080808;
    height: 100px;
    width: 100%;
    color: white;
}

footer > p{
    margin-left: 50px;
    padding-top: 50px;
}

footer > p > a{
   text-decoration: none;
   color: white;
}

footer > p > a:hover{
    color: #fb9b1c;
    text-decoration: none;
 }

 /* MEDIA QUERIES CONTACT SECTION > FOOTER */

 @media (max-width: 992px){
    .contact-section-header h2{
        padding-top: 35px;
        font-size: 40px; 
    }
    
    .contact-section-header p{  
        font-size: 25px;
    }

    .contact-links{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .contact-links a{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-top: 50px;
        font-size: 30px;
    }
    
    .contact-links i{
        margin-right: 10px;
    }
 }

 @media (max-width: 576px){
    .contact-links a{
        font-size: 20px;
    }

    .line{
        margin-bottom: 50px;
    }

    #back-top i{
        font-size: 30px;
    }

    footer > p{
        margin-left: 20px;
    }
 }



